{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.9.1"
        }
      }
    ],
    "stage-3"
  ],
  "plugins": ["transform-flow-strip-types", ["transform-react-jsx", {"pragma": "el"}]]
}
